<!DOCTYPE html>
{% extends "index.html" %}
{% load static %}

{% block main_content %}

<main role="main">
    <div class="jumbotron">
        <div class="container">
            <img src="{% static '/BLIV_LOGO.png' %}" class="rounded float-start" alt="BLIV" height="200" style="margin-right: 5px;">
            <h1 class="display-4" style="font-weight:400;">Olá, leitores!</h1>
            <p style="font-weight:400;">Seja bem-vindo(a) à nossa livraria virtual. Temos uma grande coleção de livros pra você viajar sem sair da poltrona!</p>
            <a role="button" href="#" class="btn btn-primary btn-lg" style="margin-bottom:10px;">Conheça nossa coleção 》</a>
        </div>
    </div>

    <div class="container text-center">
        <div class="row justify-content-center">
            <div class="col">
                <h2>Por que ler é importante?</h2>
                <p>A leitura é fundamental para o crescimento pessoal, pois amplia o conhecimento, estimula a criatividade e proporciona novas perspectivas. Além de enriquecer o vocabulário, a leitura desenvolve a empatia ao permitir que as pessoas vivenciem diferentes experiências e compreendam melhor o mundo ao seu redor.</p>
          </div>
          <div class="col">
            <h2>Benefícios</h2>
                <ul>
                    <li>Melhora o vocabulário e a habilidade de compreensão;</li>
                    <li>Reduz o stress;</li>
                    <li>Melhora a saúde mental;</li>
                    <li>Previne doenças cognitivas.</li>
                </ul>
          </div>
          <div class="col">
                <h2>Pensamento do dia</h2>
                <p>"Um livro aberto é um cérebro que fala; fechado, um amigo que espera; esquecido, uma alma que perdoa; destruído, um coração que chora." — Voltaire</p>
          </div>
        </div>
      </div>


    <div class="jumbotron" style="padding:0px 250px 0px 250px;">
        <div class="row align-items-center justify-content-center">
            <div class="col " style="padding:50px;">
                <h1 class="float-end text-center" style="width:100%; margin-bottom:40px;">Recomendados da Babel</h1>
                <p style="width:100%; text-align:center; margin-top:15px;">Cada pessoa tem um gosto único quando se trata de livros, refletindo suas paixões, interesses e experiências pessoais. A literatura é uma janela para o mundo, oferecendo a oportunidade de explorar novas ideias, emoções e perspectivas. Entendemos que a diversidade de preferências é o que torna a leitura uma experiência tão rica e personalizada. Na Babel, valorizamos essa diversidade e estamos comprometidos em proporcionar uma experiência literária que atenda a todos os gostos.
                    <br>
                    <br>
                    Para apoiar sua jornada de descoberta, oferecemos dois livros gratuitos para teste. Essa é a nossa forma de permitir que você experimente novos gêneros e autores antes de se comprometer com uma compra. Aproveite esta oportunidade para explorar diferentes categorias, desde romances envolventes e histórias emocionantes até aventuras fantásticas e reflexões profundas.
                    <br>
                    <br>
                    Na Babel, acreditamos que cada leitor merece encontrar livros que realmente toquem seu coração e estimulem sua mente. Nossa missão é conectar você com obras que ressoem com suas experiências e interesses, tornando sua jornada literária mais gratificante. Explore nossa ampla seleção e descubra obras que não apenas atendem às suas expectativas, mas também ampliam seus horizontes. Estamos aqui para apoiar e enriquecer sua experiência de leitura, oferecendo uma vasta gama de títulos que atendem a todos os gostos e preferências.</p>
            </div>
            <div class="col-6">
                {% block content %}
                <div id="babel_recomendados" class="carousel slide float-end" style="width:60%;">
                    <div class="carousel-indicators">
                      <button type="button" data-bs-target="#babel_recomendados" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                      <button type="button" data-bs-target="#babel_recomendados" data-bs-slide-to="1" aria-label="Slide 2"></button>
                      <button type="button" data-bs-target="#babel_recomendados" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img src="{% static '/hppedrafilosofal.jpg' %}" class="d-block w-100" alt="H.P_PEDRAFILOSOFAL">
                        <div class="carousel-caption d-none d-md-block" style="background: rgba(255, 255, 255, 0.04); border-radius: 16px; box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); backdrop-filter: blur(4px); -webkit-backdrop-filter: blur(4px); border: 1px solid rgba(255, 255, 255, 0.3);">
                          <h5 style="font-weight:700;">Fantasia</h5>
                          <p>Para quem gosta de aventuras mágicas!</p>
                        </div>
                      </div>
                      <div class="carousel-item">
                        <img src="{% static '/onepiece1.png' %}" style="height:578px" class="d-block w-100" alt="A_SUTIL_ARTE_DE_LIGAR_O_fODA-SE">
                        <div class="carousel-caption d-none d-md-block" style="background: rgba(0, 0, 0, 0.04); border-radius: 16px; box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); backdrop-filter: blur(4px); -webkit-backdrop-filter: blur(4px); border: 1px solid rgba(0, 0, 0, 0.3);">
                          <h5 style="font-weight:700;">Mangá</h5>
                          <p>Acompanhe Luffy se tornando o rei dos piratas!</p>
                        </div>
                      </div>
                      <div class="carousel-item">
                        <img src="{% static '/codigodavinci.jpg' %}" class="d-block w-100" alt="CODIGODAVINCI">
                        <div class="carousel-caption d-none d-md-block" style="background: rgba(255, 255, 255, 0.04); border-radius: 16px; box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); backdrop-filter: blur(4px); -webkit-backdrop-filter: blur(4px); border: 1px solid rgba(255, 255, 255, 0.3);">
                          <h5 style="font-weight:700;">Ficção Policial</h5>
                          <p>Se você gosta de mistérios e intrigas, esse livro é pra você.</p>
                        </div>
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#babel_recomendados" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#babel_recomendados" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
                  {% endblock %}
                </div>
        </div>
      </div>
    <hr>
</main>
<footer class="container">
    <a>© Babel Livraria Virtual</a>
</footer>
{% endblock %}